polkit.addRule(function(action, subject) {
    if (action.id != "org.freedesktop.systemd1.manage-units" ||
        !subject.local || !subject.active) {
        return polkit.Result.NOT_HANDLED;
    }

    var unit = action.lookup("unit");
    var verb = action.lookup("verb");
    if (verb == "start" &&
        /^aurade-greetd-vt@(8|9|10|11|12)\.service$/.test(unit)) {
        return polkit.Result.YES;
    }
    return polkit.Result.NOT_HANDLED;
});
