pkgbase = aurade-full
	pkgdesc = Complete AuraDE desktop environment meta package with local AI
	pkgver = 152.1660893
	pkgrel = 2
	url = https://github.com/aurade/aurade
	arch = any
	license = BSD-3-Clause
	depends = aurade>=152.1660893
	depends = aurade-ai>=152.1660893
	depends = bluez
	source = LICENSE
	sha256sums = 5b68c7ce81302fe380820537df535fa736f537a469b14c371e2427a2c79c8f0f

pkgname = aurade-full
