pkgbase = aurade-full
	pkgdesc = Complete AuraDE desktop environment meta package with local AI
	pkgver = 152.1660893
	pkgrel = 2
	url = https://github.com/aurade/aurade
	arch = any
	license = BSD-3-Clause
	depends = aurade>=152.1660893
	depends = aurade-ai>=152.1660893
	depends = bluez
	source = LICENSE
	sha256sums = b552ddcde86fe87852be3f5af94409ef625a150521168d02e2bee66d6882d17d

pkgname = aurade-full
