pkgbase = aurade-system-helper
	pkgdesc = Privileged system helper for AuraDE desktop integration
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/Cam396/aurade
	arch = any
	license = BSD-3-Clause
	depends = bash
	depends = pacman
	depends = polkit
	depends = systemd
	source = aurade-system-helper
	source = org.aurade.system-helper.policy
	source = 49-aurade-power.rules
	source = LICENSE
	sha256sums = c6e0611ffe121db9d91af107715c81f46947e367ed6f8073e5dcf53e2051fe7b
	sha256sums = 1f60a6ba6dc906daccb309d8c2b5679c819cec8d30b2c41eb7aabb9fae75c728
	sha256sums = ae4f2886238f187f128426ed050767c865d2c60ac9c79fefa041d90b2f331b90
	sha256sums = 95b5c17f50877b2da28a79fca1401157f8eb0786abd747c2fba946c87710bb10

pkgname = aurade-system-helper
