[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=Show folders in AuraDE Files
Exec=aurade-open-folder %U
Icon=system-file-manager
MimeType=inode/directory;
NoDisplay=true
Terminal=false
StartupNotify=false
