[Desktop Entry]
Name=ChromiumOS Ash (Wayland)
Comment=ChromeOS Ash desktop environment for Linux
Exec=/usr/bin/chromiumos-ash-session
Type=Application
DesktopNames=chromiumos-ash;ChromiumOS Ash;
