[Desktop Entry]
Name=ChromiumOS Ash
Comment=ChromeOS Ash desktop environment for Linux
Exec=/usr/bin/chromiumos-ash
Type=Application
DesktopNames=chromiumos-ash;ChromiumOS Ash;
